.banner{
    background-image: url(/image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 530px;
    flex-shrink: 0;
}

.white-text{
    color: #FFF;
}

.b-btn{
    display: flex;
    width: 135px;
    height: 40px;
    margin-top: 35px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background: #F3F25B;
    color: #000;
    text-align: center;
    font-family: "Loto";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.sec-2{
    background: #FFF;
}

.review{
    margin-left: 154px;
    margin-right: 154px;
    margin-top: 152px;
    margin-bottom: 152px;
    display: inline-flex;
    height: 683px;
    padding: 152px 164px 152px 154px;
    align-items: center;
    flex-shrink: 0;
    background: #FFFFFA;
}


.left, .right{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}